<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoundTripAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RoundTripAddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RoundTripAddIn.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>D:\\Generated</value>
            </setting>
            <setting name="DiagramPath" serializeAs="String">
                <value>D:\\Generated</value>
            </setting>
        </RoundTripAddIn.Properties.Settings>
        <RoundTripAddIn.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value>C:\\Generated</value>
            </setting>
            <setting name="DiagramPath" serializeAs="String">
                <value>C:\\Generated</value>
            </setting>
        </RoundTripAddIn.Properties.Settings>
    </userSettings>
</configuration>